# System files
*DS_Store

# Sensitive App Configs
*hosts.yml
*1Password/
*op/
*github-copilot/
*google-workspace-mcp/

# Caches and large directories
*NuGet/
*configstore/

# Other stuff I don't want on there
*mac-askpass.sh
*pw.sh
*.zwc